# arquivo não monitorado pelo github. Neste arquivo inserimos as credências de acesso utilizadas no sistema de produção
URL=http://localhost/<diretorio>
DB_HOST=localhost
DB_NAME=database
DB_USER=root
DB_PASS=password
DB_PORT=0000